@model MummyCarbonViewModel

@inject IAuthorizationService AuthorizationService

<div class="card-background-dark p-3 my-2">
    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Burials.Create)).Result.Succeeded)
    {
    <form asp-action="AddCarbon" method="post">
        <div class="form-row justify-content-between">
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.RackNumber"><h5>Rack Number: </h5></label>
                <br />
                <input class="form-control" type="number" step="any" asp-for="@Model.NewCarbon.RackNumber" />
            </div>
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.Size"><h5>Size: </h5></label>
                <br />
                <input class="form-control" type="number" step="any" asp-for="@Model.NewCarbon.Size" />
            </div>
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.Foci"><h5>Foci: </h5></label>
                <br />
                <input class="form-control" type="number" step="any" asp-for="@Model.NewCarbon.Foci" />
            </div>
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.C14sample"><h5>C14Sample: </h5></label>
                <br />
                <input class="form-control" type="number" step="any" asp-for="@Model.NewCarbon.C14sample" />
            </div>
            
        </div>
        <div class="form-row justify-content-between">
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.Location"><h5>Location: </h5></label>
                <br />
                <input class="form-control" asp-for="@Model.NewCarbon.Location" />
            </div>
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.Questions"><h5>Questions: </h5></label>
                <br />
                <input class="form-control" asp-for="@Model.NewCarbon.Questions" />
            </div>
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.ConventionalAgeBp"><h5>Conventional Age BP: </h5></label>
                <br />
                <input class="form-control" type="number" asp-for="@Model.NewCarbon.ConventionalAgeBp" />
            </div>
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.CalendarDate"><h5>Calendar Date: </h5></label>
                <br />
                <input class="form-control" type="number" step="any" asp-for="@Model.NewCarbon.CalendarDate" />
            </div>
           
        </div>
        <div class="form-row justify-content-between">
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.Calibrated95CalendarDateMin"><h5>Calibrated Min: </h5></label>
                <br />
                <input class="form-control" type="number" step="any" asp-for="@Model.NewCarbon.Calibrated95CalendarDateMin" />
            </div>
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.Calibrated95CalendarDateSpan"><h5>Calibrated Span: </h5></label>
                <br />
                <input class="form-control" type="number" step="any" asp-for="@Model.NewCarbon.Calibrated95CalendarDateSpan" />
            </div>
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.Calibrated95CalendarDateAvg"><h5>Calibrated Avg: </h5></label>
                <br />
                <input class="form-control" type="number" step="any" asp-for="@Model.NewCarbon.Calibrated95CalendarDateAvg" />
            </div>
            <div class="form-group col">
                <label asp-for="@Model.NewCarbon.Category"><h5>Category: </h5></label>
                <br />
                <input class="form-control" type="text" step="any" asp-for="@Model.NewCarbon.Category" />
            </div>

        </div>
        
        <button type="submit" class="btn btn-secondary">Save</button>
        <input type="hidden" name="id" value="@Model.MummyId" />
    </form>

    }
</div>

<div class="card-background p-3">
    <h1 class="display-4">Carbon Dating: </h1>
    <div class="col">
        <div class="row text-center">
            @foreach (var x in Model.Carbons)
            {

                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-lg my-3" data-toggle="modal" data-target="#Sample-@x.CarbonDatedId">
                        Carbon Number: @x.CarbonDatedId
                    </button>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="Sample-@x.CarbonDatedId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-height" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h5 class="modal-title" id="exampleModalLabel">Sample @x.CarbonDatedId</h5>


                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="row m-2 justify-content-between">
                                    <div class="col">
                                        <h5>Carbon Dated ID</h5>
                                        <p>@x.CarbonDatedId</p>
                                    </div>
                                    <div class="col">
                                        <h5>Mummy ID</h5>
                                        @if (x.MummyId == null)
                                        {<p>Not Available</p>}
                                        @if (x.MummyId != null)
                                        {<p>@x.MummyId</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Location ID</h5>
                                        @if (x.LocationId == null)
                                        {<p>Not Available</p>}
                                        @if (x.LocationId != null)
                                        {<p>@x.LocationId</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Rack Number</h5>
                                        @if (x.RackNumber == null)
                                        {<p>Not Available</p>}
                                        @if (x.RackNumber != null)
                                        {<p>@x.RackNumber</p>}
                                    </div>
                                </div>
                                <div class="row m-2 justify-content-between">
                                    <div class="col">
                                        <h5>Size</h5>
                                        @if (x.Size == null)
                                        {<p>Not Available</p>}
                                        @if (x.Size != null)
                                        {<p>@x.Size</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Foci</h5>
                                        @if (x.Foci == null)
                                        {<p>Not Available</p>}
                                        @if (x.Foci != null)
                                        {<p>@x.Foci</p>}
                                    </div>
                                    <div class="col">
                                        <h5>C14-Sample</h5>
                                        @if (x.C14sample == null)
                                        {<p>Not Available</p>}
                                        @if (x.C14sample != null)
                                        {<p>@x.C14sample</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Location</h5>
                                        @if (x.Location == null)
                                        {<p>Not Available</p>}
                                        @if (x.Location != null)
                                        {<p>@x.Location</p>}
                                    </div>
                                </div>
                                <div class="row m-2 justify-content-between">
                                    <div class="col">
                                        <h5>Questions</h5>
                                        @if (x.Questions == null)
                                        {<p>Not Available</p>}
                                        @if (x.Questions != null)
                                        {<p>@x.Questions</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Conventional Age Bp</h5>
                                        @if (x.ConventionalAgeBp == null)
                                        {<p>Not Available</p>}
                                        @if (x.ConventionalAgeBp != null)
                                        {<p>@x.ConventionalAgeBp</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Calender Date</h5>
                                        @if (x.CalendarDate == null)
                                        {<p>Not Available</p>}
                                        @if (x.CalendarDate != null)
                                        {<p>@x.CalendarDate</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Calibrated-95 Calender Date Max</h5>
                                        @if (x.Calibrated95CalendarDateMax == null)
                                        {<p>Not Available</p>}
                                        @if (x.Calibrated95CalendarDateMax != null)
                                        {<p>@x.Calibrated95CalendarDateMax</p>}
                                    </div>
                                </div>
                                <div class="row m-2 justify-content-between">
                                    <div class="col">
                                        <h5>Calibrated-95 Calendar Date Min</h5>
                                        @if (x.Calibrated95CalendarDateMin == null)
                                        {<p>Not Available</p>}
                                        @if (x.Calibrated95CalendarDateMin != null)
                                        {<p>@x.Calibrated95CalendarDateMin</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Calibrated-95 Calendar Date Span</h5>
                                        @if (x.Calibrated95CalendarDateSpan == null)
                                        {<p>Not Available</p>}
                                        @if (x.Calibrated95CalendarDateSpan != null)
                                        {<p>@x.Calibrated95CalendarDateSpan</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Calibrated-95 Calendar Date Avg</h5>
                                        @if (x.Calibrated95CalendarDateAvg == null)
                                        {<p>Not Available</p>}
                                        @if (x.Calibrated95CalendarDateAvg != null)
                                        {<p>@x.Calibrated95CalendarDateAvg</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Category</h5>
                                        @if (x.Category == null)
                                        {<p>Not Available</p>}
                                        @if (x.Category != null)
                                        {<p>@x.Category</p>}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <form asp-controller="Home" asp-action="EditCarbon" method="post">
                                    <input type="hidden" name="id" value="@x.CarbonDatedId" />
                                    <button class="btn btn-outline-dark" type="submit">Edit</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>