@model MummyNotesViewModel

@inject IAuthorizationService AuthorizationService



<div class="container">
    <div class="card-background-dark p-3 my-2">
        <div class="row my-2">
            <div class="col">
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Burials.Create)).Result.Succeeded)
                {
                    <form asp-action="AddNote" method="post">

                        <input type="hidden" name="id" value="@Model.MummyId" />
                        <textarea class="form-control" rows="5" cols="150" asp-for="@Model.NewNote.Text"></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-secondary mt-3 text-center"><i class="fas fa-plus"></i></button>
                        </div>
                    </form>

                }
            </div>
        </div>
    </div>
    <div class="card-background p-3">
        <div class="col">
            <div class="row text-center">
                @foreach (var x in Model.Notes)
                {

                    <!-- Button trigger modal -->


                    <div class="col-3">
                        <button type="button" class="btn btn-primary btn-lg my-3" data-toggle="modal" data-target="#Notes-@x.NotesId">
                            Note: @x.NotesId
                        </button>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="Notes-@x.NotesId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-height" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h5 class="modal-title" id="exampleModalLabel">Note @x.NotesId</h5>


                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>@x.Text</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>




                }
            </div>
        </div>

    </div>
</div>



