@model Measurements

@inject IAuthorizationService AuthorizationService
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgeryProvider

<div class="card-background-dark p-3 my-2">
    <div class="row m-2 justify-content-between">
        <div class="col-auto">
            <button class="btn text-light" onclick="replaceMeasureContents(this.id, @Model.MeasurementId, 'skull')" id="MummySkull"><h5>Skull</h5></button>
        </div>
        <div class="col-auto">
            <button class="btn text-light" onclick="replaceMeasureContents(this.id, @Model.MeasurementId, 'body')" id="MummyBody"><h5>Body</h5></button>
        </div>
        <div class="col-auto">
            <button class="btn text-light" onclick="replaceMeasureContents(this.id, @Model.MeasurementId, 'general')" id="MummyGeneral"><h5>General</h5></button>
        </div>
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Burials.Edit)).Result.Succeeded)
        {
            <div class="col-auto my-auto">
                <form asp-controller="Home" asp-action="EditMeasurements" method="post">
                    <input type="hidden" name="id" value="@Model.MeasurementId" />
                    <button class="btn btn-outline-light" type="submit">Edit</button>
                </form>
            </div>
        }
    </div>
</div>
@*<button class="btn" onclick="replaceMeasureContents(this.id, @Model.MeasurementId, 'skull')" id="MummySkull">Skull</button>
    <button class="btn" onclick="replaceMeasureContents(this.id, @Model.MeasurementId, 'body')" id="MummyBody">Body</button>
    <button class="btn" onclick="replaceMeasureContents(this.id, @Model.MeasurementId, 'general')" id="MummyGeneral">General</button>*@

@*Load Measurement Section Partial View*@
<div id="measurePartialView">
</div>

<div class="card-background p-3 my-2">
    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#LegendCollapse" aria-expanded="false" aria-controls="LegendCollapse">View Legend</button>
    <div class="card-body collapse multi-collapse" id="LegendCollapse">
        <div class="row">
            <div class="col">
                <h6>Hair Color</h6>
                <ul>
                    <li>B : Brown/Dark Brown/Lt Brown</li>
                    <li>K : Black</li>
                    <li>A : Brown-Red</li>
                    <li>R : Red/Red-Black</li>
                    <li>D : Blonde</li>
                    <li>U : Unkown</li>
                </ul>
            </div>
            <div class="col">
                <h6>Burial Wrapping</h6>
                <ul>
                    <li>W : Full or nearly full wrapping remains</li>
                    <li>H : Partial Wrapping reamins</li>
                    <li>B : Bones and.or only partial remnants of warapping remains</li>
                    <li>U : Unknown</li>
                </ul>
            </div>
            <div class="col">
                <h6>Burial Adult Child</h6>
                <ul>
                    <li>A : Adult</li>
                    <li>C : Any Non-Adult (Infant, Child, Juvenile, Fetus)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Gender Code</h6>
                <ul>
                    <li>M : Male</li>
                    <li>F : Female</li>
                    <li>U : Unknown (Children is usually indeterminate or unknown)</li>
                </ul>
            </div>
            <div class="col">
                <h6>Age Code</h6>
                <ul>
                    <li>A : Adult - Years 15+</li>
                    <li>C : Child - Years 3-15</li>
                    <li>I : Infant - Years 1-3</li>
                    <li>N : Newborn - Years 0-1</li>
                    <li>U : Unkown</li>

                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    //on load select the attributes tab
    function replaceMeasureContents(partialViewToInsert, id, type ) {
        $.ajax({
            url: '@Url.Action("MeasurementPartialView", "Home")',
            data: {
                id: partialViewToInsert,
                selector: id,
                type: type,
                '__RequestVerificationToken': '@antiforgeryProvider.GetAndStoreTokens(this.Context).RequestToken'
            },
            type: "POST",
            success: function(data) {
                $('#measurePartialView').html(data);
            }
        });

        activateMeasureButton(partialViewToInsert);
    }

    function activateMeasureButton(id) {
        $('#MummySkull').removeClass('btn-link').css("color", "black")
        $('#MummyBody').removeClass('btn-link').css("color", "black")
        $('#MummyGeneral').removeClass('btn-link').css("color", "black")
        $('#' + id).addClass('btn-link').css("color", "grey");
    }
</script>
