@model MummySamplesViewModel

@inject IAuthorizationService AuthorizationService


<h1>Samples</h1>

@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Burials.Create)).Result.Succeeded)
{
    <form asp-action="AddSample" method="post">

        <button type="submit" class="btn btn-secondary"><i class="fas fa-plus"></i></button>
        <input type="hidden" name="id" value="@Model.MummyId" />

        <label asp-for="@Model.NewSample.SampleNumber">Sample Number: </label>
        <input type="number" asp-for="@Model.NewSample.SampleNumber" />
        <br />

        <label asp-for="@Model.NewSample.RackNumber">Rack Number: </label>
        <input type="number" asp-for="@Model.NewSample.RackNumber" />
        <br />

        <label asp-for="@Model.NewSample.Bag">Bag: </label>
        <input type="number" asp-for="@Model.NewSample.Bag" />
        <br />

        <label asp-for="@Model.NewSample.Date">Date: </label>
        <input asp-for="@Model.NewSample.Date" />
        <br />

        <label asp-for="@Model.NewSample.PreviouslySampled">Previously Sampled: </label>
        <input asp-for="@Model.NewSample.PreviouslySampled" />
        <br />

        <label asp-for="@Model.NewSample.Initials">Initials: </label>
        <input asp-for="@Model.NewSample.Initials" />
        <br />

        <label asp-for="@Model.NewSample.ClusterNumber">Cluster Number: </label>
        <input type="number" asp-for="@Model.NewSample.ClusterNumber" />
        <br />

        <label asp-for="@Model.NewSample.Area">Area: </label>
        <input asp-for="@Model.NewSample.Area" />
        <br />
    </form>

}

@foreach(var x in Model.Samples)
{
    <p>Sample ID: @x.SampleId</p>
    <p>Sample Number: @x.SampleNumber</p>
    <p>Rack Number: @x.RackNumber</p>
    <p>Bag: @x.Bag</p>
    <p>Date: @x.Date</p>
    <p>Previously Sampled: @x.PreviouslySampled</p>
    <p>Initials: @x.Initials</p>
    <p>Cluster: @x.ClusterNumber</p>
    <p>Area: @x.Area</p>
}