@model MummySamplesViewModel

@inject IAuthorizationService AuthorizationService

<div class="card-background-dark p-3 my-2">
    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Burials.Create)).Result.Succeeded)
    {
        <form asp-action="AddSample" method="post">


            <div class="form-row justify-content-between">
                <div class="col">
                    <label asp-for="@Model.NewSample.SampleNumber"><h5>Sample Number: </h5></label>
                    <br />
                    <input class="form-control" type="number" asp-for="@Model.NewSample.SampleNumber" />

                </div>
                <div class="form-group col">
                    <label asp-for="@Model.NewSample.RackNumber"><h5>Rack Number: </h5></label>
                    <br />
                    <input class="form-control" type="number" asp-for="@Model.NewSample.RackNumber" />

                </div>
                <div class="form-group col">
                    <label asp-for="@Model.NewSample.Bag"><h5>Bag: </h5></label>
                    <br />
                    <input class="form-control" type="number" asp-for="@Model.NewSample.Bag" />

                </div>
                <div class="form-group col">
                    <label asp-for="@Model.NewSample.Date"><h5>Date: </h5></label>
                    <br />
                    <input class="form-control" asp-for="@Model.NewSample.Date" />

                </div>
            </div>
            <div class="form-row justify-content-between">
                <div class="form-group col">
                    <label asp-for="@Model.NewSample.PreviouslySampled"><h5>Previously Sampled: </h5></label>
                    <br />
                    <input class="form-control" asp-for="@Model.NewSample.PreviouslySampled" />

                </div>
                <div class="form-group col">
                    <label asp-for="@Model.NewSample.Initials"><h5>Initials: </h5></label>
                    <br />
                    <input class="form-control" asp-for="@Model.NewSample.Initials" />

                </div>
                <div class="form-group col">
                    <label asp-for="@Model.NewSample.ClusterNumber"><h5>Cluster Number: </h5></label>
                    <br />
                    <input class="form-control" type="number" asp-for="@Model.NewSample.ClusterNumber" />

                </div>
                <div class="form-group col">
                    <label asp-for="@Model.NewSample.Area"><h5>Area: </h5></label>
                    <br />
                    <input class="form-control" asp-for="@Model.NewSample.Area" />

                </div>
            </div>

            <button type="submit" class="btn btn-secondary">Save</i></button>
            <input type="hidden" name="id" value="@Model.MummyId" />

        </form>

    }
</div>
<br />
<br />
<div class="card-background p-3">
    <h1 class="display-4">Samples: </h1>
    <div class="col">
        <div class="row text-center">
            @foreach (var x in Model.Samples)
            {

                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-lg my-3" data-toggle="modal" data-target="#Sample-@x.SampleId">
                        Sample Number: @x.SampleNumber
                    </button>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="Sample-@x.SampleId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-height" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h5 class="modal-title" id="exampleModalLabel">Sample @x.SampleId</h5>


                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">


                                <div class="row m-2 justify-content-between">
                                    <div class="col">
                                        <h5>Sample ID: </h5>
                                        <p>@x.SampleId</p>
                                    </div>
                                    <div class="col">
                                        <h5>Sample Number: </h5>
                                        @if (x.SampleNumber == null)
                                        {<p>Not Available</p>}
                                        @if (x.SampleNumber != null)
                                        {<p>@x.MummyId</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Rack Number: </h5>
                                        @if (x.RackNumber == null)
                                        {<p>Not Available</p>}
                                        @if (x.RackNumber != null)
                                        {<p>@x.RackNumber</p>}
                                    </div>

                                </div>
                                <div class="row m-2 justify-content-between">
                                    <div class="col">
                                        <h5>Bag: </h5>
                                        @if (x.Bag == null)
                                        {<p>Not Available</p>}
                                        @if (x.Bag != null)
                                        {<p>@x.Bag</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Date: </h5>
                                        @if (x.Date == null)
                                        {<p>Not Available</p>}
                                        @if (x.Date != null)
                                        {<p>@x.Date</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Previously Sampled</h5>
                                        @if (x.PreviouslySampled == null)
                                        {<p>Not Available</p>}
                                        @if (x.PreviouslySampled != null)
                                        {<p>@x.PreviouslySampled</p>}
                                    </div>

                                </div>
                                <div class="row m-2 justify-content-between">
                                    <div class="col">
                                        <h5>Initials</h5>
                                        @if (x.Initials == null)
                                        {<p>Not Available</p>}
                                        @if (x.Initials != null)
                                        {<p>@x.Initials</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Cluster Number</h5>
                                        @if (x.ClusterNumber == null)
                                        {<p>Not Available</p>}
                                        @if (x.ClusterNumber != null)
                                        {<p>@x.ClusterNumber</p>}
                                    </div>
                                    <div class="col">
                                        <h5>Area</h5>
                                        @if (x.Area == null)
                                        {<p>Not Available</p>}
                                        @if (x.Area != null)
                                        {<p>@x.Area</p>}
                                    </div>


                                </div>

                            </div>
                            <div class="modal-footer">
                                <form asp-controller="Home" asp-action="EditSample" method="post">
                                    <input type="hidden" name="id" value="@x.SampleId" />
                                    <button class="btn btn-outline-dark" type="submit">Edit</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>

                    </div>
                </div>


            }
        </div>
    </div>

</div>


