@model Measurements

<h1 class="display-4">Edit Measurements</h1>

<div class="text-center">
    <form asp-controller="Home" asp-action="UpdateMummy" method="post" class="card-background p-3">


        @*General*@
        <h4 class="display-4 my-2">General</h4>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="AgeAtDeath" asp-for="@Model.AgeAtDeath">Age At Death</label>
                <input id="AgeAtDeath" class="form-control" asp-for="@Model.AgeAtDeath" placeholder="Age At Death" value="@Model.AgeAtDeath" />
            </div>
            <div class="form-row text-left">
                <div class="form-group col">
                    <label for="AgeMethod" asp-for="@Model.AgeMethod">Age Method</label>
                    <input id="AgeMethod" class="form-control" asp-for="@Model.AgeMethod" placeholder="Age Method" value="@Model.AgeMethod" />
                </div>
            </div>
            <div class="form-group col">
                <label for="BYUSample" asp-for="@Model.Byusample">BYU Sample</label>
                <select id="BYUSample" class="custom-select" asp-for="@Model.Byusample">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-row text-left">
                <div class="form-group col">
                    <label for="EstimateAge" asp-for="@Model.EstimateAge">Estimate Age</label>
                    <input id="EstimateAge" class="form-control" asp-for="@Model.EstimateAge" placeholder="Estimate Age" value="@Model.EstimateAge" />
                </div>
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="GeFunctionTotal" asp-for="@Model.GeFunctionTotal">GE Function Total</label>
                <input id="GeFunctionTotal" class="form-control" asp-for="@Model.GeFunctionTotal" placeholder="GE Function Total" value="@Model.GeFunctionTotal" />
            </div>
            <div class="form-group col">
                <label for="GenderBodyCol" asp-for="@Model.GenderBodyCol">Gender Body Col</label>
                <select id="GenderBodyCol" class="custom-select" asp-for="@Model.GenderBodyCol">
                    <option value="">Select</option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="GenderGe" asp-for="@Model.GenderGe">Gender GE</label>
                <select id="GenderGe" class="custom-select" asp-for="@Model.GenderGe">
                    <option value="">Select</option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="OsteologyUnknownComment" asp-for="@Model.OsteologyUnknownComment">Osteology Unknown Comment</label>
                <input id="OsteologyUnknownComment" class="form-control" asp-for="@Model.OsteologyUnknownComment" placeholder="Osteology Unknown Comment" value="@Model.OsteologyUnknownComment" />
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="RackAndShelf" asp-for="@Model.RackAndShelf">Rack And Shelf</label>
                <input id="RackAndShelf" class="form-control" asp-for="@Model.RackAndShelf" placeholder="Rack And Shelf" value="@Model.RackAndShelf" />
            </div>
            <div class="form-group col">
                <label for="Sex" asp-for="@Model.Sex">Sex</label>
                <input id="Sex" class="form-control" asp-for="@Model.Sex" placeholder="Sex" value="@Model.Sex" />
            </div>
            <div class="form-group col">
                <label for="SexMethod" asp-for="@Model.SexMethod">Sex Method</label>
                <input id="SexMethod" class="form-control" asp-for="@Model.SexMethod" placeholder="Sex Method" value="@Model.SexMethod" />
            </div>
            <div class="form-group col">
                <label for="ToBeConfirmed" asp-for="@Model.ToBeConfirmed">BYU ToBeConfirmed</label>
                <select id="ToBeConfirmed" class="custom-select" asp-for="@Model.ToBeConfirmed">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
        </div>



        @*Skull*@
        <h4 class="display-4 my-2">Skull</h4>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="DateOnSkull" asp-for="@Model.DateOnSkull">Date On Skull</label>
                <input id="DateOnSkull" class="form-control" asp-for="@Model.DateOnSkull" placeholder="Date On Skull" value="@Model.DateOnSkull" />
            </div>
            <div class="form-group col">
                <label for="MonthSkull" asp-for="@Model.MonthSkull">Month On Skull</label>
                <input id="MonthSkull" class="form-control" asp-for="@Model.MonthSkull" placeholder="Month on Skull" value="@Model.MonthSkull" />
            </div>
            <div class="form-group col">
                <label for="YearOnSkull" asp-for="@Model.YearOnSkull">Year On Skull</label>
                <input id="YearOnSkull" class="form-control" asp-for="@Model.YearOnSkull" placeholder="Year On Skull" value="@Model.YearOnSkull" />
            </div>
            <div class="form-group col">
                <label for="AgeSkull2018" asp-for="@Model.AgeSkull2018">Age Skull</label>
                <input id="AgeSkull2018" class="form-control" asp-for="@Model.AgeSkull2018" placeholder="Age Skull" value="@Model.AgeSkull2018" />
            </div>
            <div class="form-group col">
                <label for="BasilarSutureOpen" asp-for="@Model.BasilarSutureOpen">Basilar Suture</label>
                <select id="BasilarSutureOpen" class="custom-select" asp-for="@Model.BasilarSutureOpen">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="BasionBregmaHeight" asp-for="@Model.BasionBregmaHeight">Basion Bregma Height</label>
                <input id="BasionBregmaHeight" class="form-control" asp-for="@Model.BasionBregmaHeight" placeholder="Basion Bregma Height" value="@Model.BasionBregmaHeight" />
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="BasionNasion" asp-for="@Model.BasionNasion">Basion Nasion</label>
                <input id="BasionNasion" class="form-control" asp-for="@Model.BasionNasion" placeholder="Basion Nasion" value="@Model.BasionNasion" />
            </div>
            <div class="form-group col">
                <label for="BizygomaticDiameter" asp-for="@Model.BizygomaticDiameter">Bizygomatic Diameter</label>
                <input id="BizygomaticDiameter" class="form-control" asp-for="@Model.BizygomaticDiameter" placeholder="Bizygomatic Diameter" value="@Model.BizygomaticDiameter" />
            </div>
            <div class="form-group col">
                <label for="ButtonOsteoma" asp-for="@Model.ButtonOsteomad">Button Osteoma</label>
                <input id="ButtonOsteoma" class="form-control" asp-for="@Model.ButtonOsteomad" placeholder="Button Osteoma" value="@Model.ButtonOsteomad" />
            </div>
            <div class="form-group col">
                <label for="ButtonOsteoma" asp-for="@Model.ButtonOsteomad">Button Osteoma</label>
                <select id="ButtonOsteoma" class="custom-select" asp-for="@Model.ButtonOsteomad">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="CranialSutureOpen" asp-for="@Model.CranialSutureOpen">Cranial Suture</label>
                <select id="CranialSutureOpen" class="custom-select" asp-for="@Model.CranialSutureOpen">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="EpiphysealUnion" asp-for="@Model.EpiphysealUnion">Epiphyseal Union</label>
                <input id="EpiphysealUnion" class="form-control" asp-for="@Model.EpiphysealUnion" placeholder="Epiphyseal Union" value="@Model.EpiphysealUnion" />
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="InterorbitalBreadth" asp-for="@Model.InterorbitalBreadth">Interorbital Breadth</label>
                <input id="InterorbitalBreadth" class="form-control" asp-for="@Model.InterorbitalBreadth" placeholder="Interorbital Breadth" value="@Model.InterorbitalBreadth" />
            </div>
            <div class="form-group col">
                <label for="MaximumCranialBreadth" asp-for="@Model.MaximumCranialBreadth">Max Cranial Breadth</label>
                <input id="MaximumCranialBreadth" class="form-control" asp-for="@Model.MaximumCranialBreadth" placeholder="Maximum Cranial Breadth" value="@Model.MaximumCranialBreadth" />
            </div>
            <div class="form-group col">
                <label for="MaximumCranialLength" asp-for="@Model.MaximumCranialLength">Max Cranial Length</label>
                <input id="MaximumCranialLength" class="form-control" asp-for="@Model.MaximumCranialLength" placeholder="Maximum Cranial Length" value="@Model.MaximumCranialLength" />
            </div>
            <div class="form-group col">
                <label for="MaximumNasalBreadth" asp-for="@Model.MaximumNasalBreadth">Max Nasal Breadth</label>
                <input id="MaximumNasalBreadth" class="form-control" asp-for="@Model.MaximumNasalBreadth" placeholder="Maximum Nasal Breadth" value="@Model.MaximumNasalBreadth" />
            </div>
            <div class="form-group col">
                <label for="MetopicSuture" asp-for="@Model.MetopicSuture">MetopicSuture</label>
                <select id="MetopicSuture" class="custom-select" asp-for="@Model.MetopicSuture">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="NasionProsthion" asp-for="@Model.NasionProsthion">Nasion Prosthion</label>
                <input id="NasionProsthion" class="form-control" asp-for="@Model.NasionProsthion" placeholder="Nasion Prosthion" value="@Model.NasionProsthion" />
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="NuchalCrest" asp-for="@Model.NuchalCrest">Nuchal Crest</label>
                <input id="NuchalCrest" class="form-control" asp-for="@Model.Sex" placeholder="Nuchal Crest" value="@Model.NuchalCrest" />
            </div>
            <div class="form-group col">
                <label for="OrbitEdge" asp-for="@Model.OrbitEdge">Orbit Edge</label>
                <input id="OrbitEdge" class="form-control" asp-for="@Model.OrbitEdge" placeholder="Orbit Edge" value="@Model.OrbitEdge" />
            </div>
            <div class="form-group col">
                <label for="ParietalBossing" asp-for="@Model.ParietalBossing">Parietal Bossing</label>
                <input id="ParietalBossing" class="form-control" asp-for="@Model.ParietalBossing" placeholder="Parietal Bossing" value="@Model.ParietalBossing" />
            </div>
            <div class="form-group col">
                <label for="PoroticHyperostosis" asp-for="@Model.PoroticHyperostosis">Porotic Hyperostosis</label>
                <input id="PoroticHyperostosis" class="form-control" asp-for="@Model.PoroticHyperostosis" placeholder="Porotic Hyperostosis" value="@Model.PoroticHyperostosis" />
            </div>
            <div class="form-group col">
                <label for="PoroticHyperostosisLocation" asp-for="@Model.PoroticHyperostosisLocation">Porotic Hyperostosis Location</label>
                <input id="PoroticHyperostosisLocation" class="form-control" asp-for="@Model.PoroticHyperostosisLocation" placeholder="Porotic Hyperostosis Location" value="@Model.PoroticHyperostosisLocation" />
            </div>
            <div class="form-group col">
                <label for="PostcraniaMagazine" asp-for="@Model.PostcraniaMagazine">Postcrania Magazine</label>
                <select id="PostcraniaMagazine" class="custom-select" asp-for="@Model.PostcraniaMagazine">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="PostcraniaTrauma" asp-for="@Model.PostcraniaTrauma">Postcrania Trauma</label>
                <select id="PostcraniaTrauma" class="custom-select" asp-for="@Model.PostcraniaTrauma">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="SexSkull2018" asp-for="@Model.SexSkull2018">Sex Skull</label>
                <input id="SexSkull2018" class="form-control" asp-for="@Model.SexSkull2018" placeholder="Sex Determined by Skull" value="@Model.SexSkull2018" />
            </div>
            <div class="form-group col">
                <label for="SkullAtMagazine" asp-for="@Model.SkullAtMagazine">Skull At Magazine</label>
                <select id="SkullAtMagazine" class="custom-select" asp-for="@Model.SkullAtMagazine">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="SkullTrauma" asp-for="@Model.SkullTrauma">Skull Trauma</label>
                <select id="SkullTrauma" class="custom-select" asp-for="@Model.SkullTrauma">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="UpraorbitalRidges" asp-for="@Model.UpraorbitalRidges">Upraorbital Ridges</label>
                <input id="UpraorbitalRidges" class="form-control" asp-for="@Model.UpraorbitalRidges" placeholder="Upraorbital Ridges" value="@Model.UpraorbitalRidges" />
            </div>
            <div class="form-group col">
                <label for="ZygomaticCrest" asp-for="@Model.ZygomaticCrest">Zygomatic Crest</label>
                <input id="ZygomaticCrest" class="form-control" asp-for="@Model.ZygomaticCrest" placeholder="Zygomatic Crest" value="@Model.ZygomaticCrest" />
            </div>
        </div>



        @*Dental/Jaw*@
        <h4 class="display-4 my-2">Dental/Jaw</h4>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="LinearHypoplasiaEnamel" asp-for="@Model.LinearHypoplasiaEnamel">Linear Hypoplasia Enamel</label>
                <select id="LinearHypoplasiaEnamel" class="custom-select" asp-for="@Model.LinearHypoplasiaEnamel">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="ToothAttrition" asp-for="@Model.ToothAttrition">Tooth Attrition</label>
                <select id="ToothAttrition" class="form-control" asp-for="@Model.ToothAttrition">
                    <option value="">Select</option>
                    <option value="I">I</option>
                    <option value="II">II</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                    <option value="V">V</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="ToothEruption" asp-for="@Model.ToothEruption">Tooth Eruption</label>
                <input id="ToothEruption" class="form-control" asp-for="@Model.ToothEruption" placeholder="Tooth Eruption" value="@Model.ToothEruption" />
            </div>
            <div class="form-group col">
                <label for="CribraOrbitala" asp-for="@Model.CribraOrbitala">Cribra Orbitala</label>
                <select id="CribraOrbitala" class="custom-select" asp-for="@Model.CribraOrbitala">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
        </div>

        <div class="form-row text-left">
            <div class="form-group col">
                <label for="Gonian" asp-for="@Model.Gonian">Gonian</label>
                <input id="Gonian" class="form-control" asp-for="@Model.Gonian" placeholder="Gonian" value="@Model.Gonian" />
            </div>
            <div class="form-group col">
                <label for="MedialIpramus" asp-for="@Model.MedialIpramus">Medial IP Ramus</label>
                <input id="MedialIpramus" class="form-control" asp-for="@Model.MedialIpramus" placeholder="Medial IP Ramus" value="@Model.MedialIpramus" />
            </div>
            <div class="form-group col">
                <label for="Tmjosteoarthritis" asp-for="@Model.Tmjosteoarthritis">TMJ Osteoarthritis</label>
                <select id="Tmjosteoarthritis" class="custom-select" asp-for="@Model.Tmjosteoarthritis">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="PathologyAnomalies" asp-for="@Model.PathologyAnomalies">Pathology Anomalies</label>
                <input id="PathologyAnomalies" class="form-control" asp-for="@Model.PathologyAnomalies" placeholder="Pathology Anomalies" value="@Model.PathologyAnomalies" />
            </div>
        </div>



        @*Upper Body*@
        <h4 class="display-4 my-2">Upper Body</h4>
        <div class="form-row text-left">
            <input asp-for="@Model.MeasurementId" hidden />
            <div class="form-group col">
                <label for="BoneLength" asp-for="@Model.BoneLength">Bone Length</label>
                <input id="BoneLength" class="form-control" asp-for="@Model.BoneLength" placeholder="Bone Length" value="@Model.BoneLength" />
            </div>
            <div class="form-group col">
                <label for="Humerus" asp-for="@Model.Humerus">Humerus</label>
                <input id="Humerus" class="form-control" asp-for="@Model.Humerus" placeholder="Humerus" value="@Model.Humerus" />
            </div>
            <div class="form-group col">
                <label for="HumerusHead" asp-for="@Model.HumerusHead">Humerus Head</label>
                <input id="HumerusHead" class="form-control" asp-for="@Model.HumerusHead" placeholder="Humerus Head" value="@Model.HumerusHead" />
            </div>
            <div class="form-group col">
                <label for="HumerusLength" asp-for="@Model.HumerusLength">Humerus Length</label>
                <input id="HumerusLength" class="form-control" asp-for="@Model.HumerusLength" placeholder="Humerus Length" value="@Model.HumerusLength" />
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="BodyAnalysis" asp-for="@Model.BodyAnalysis">Body Analysis</label>
                <input id="BodyAnalysis" class="form-control" asp-for="@Model.BodyAnalysis" placeholder="Body Analysis" value="@Model.BodyAnalysis" />
            </div>
            <div class="form-group col">
                <label for="MedialClavicle" asp-for="@Model.MedialClavicle">Medial Clavicle</label>
                <input id="MedialClavicle" class="form-control" asp-for="@Model.MedialClavicle" placeholder="Medial Clavicle" value="@Model.MedialClavicle" />
            </div>
            <div class="form-group col">
                <label for="Osteophytosis" asp-for="@Model.Osteophytosis">Osteophytosis</label>
                <input id="Osteophytosis" class="form-control" asp-for="@Model.Osteophytosis" placeholder="Osteophytosis" value="@Model.Osteophytosis" />
            </div>
            <div class="form-group col">
                <label for="PreservationIndex" asp-for="@Model.PreservationIndex">Preservation Index</label>
                <select id="PreservationIndex" class="form-control" asp-for="@Model.PreservationIndex">
                    <option value="">Select</option>
                    <option value="I">I</option>
                    <option value="II">II</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                    <option value="V">V</option>
                    <option value="VI">VI</option>
                </select>
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="Preservation" asp-for="@Model.Preservation">Preservation</label>
                <input id="Preservation" class="form-control" asp-for="@Model.Preservation" placeholder="Preservation" value="@Model.Preservation" />
            </div>
        </div>



        @*Lower Body*@
        <h4 class="display-4 my-2">Lower Body</h4>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="DorsalPitting" asp-for="@Model.DorsalPitting">Dorsal Pitting</label>
                <input id="DorsalPitting" class="form-control" asp-for="@Model.DorsalPitting" placeholder="Dorsal Pitting" value="@Model.DorsalPitting" />
            </div>
            <div class="form-group col">
                <label for="FemurDiameter" asp-for="@Model.FemurDiameter">Femur Diameter</label>
                <input id="FemurDiameter" class="form-control" asp-for="@Model.FemurDiameter" placeholder="Femur Diameter" value="@Model.FemurDiameter" />
            </div>
            <div class="form-group col">
                <label for="FemurHead" asp-for="@Model.FemurHead">Femur Head</label>
                <input id="FemurHead" class="form-control" asp-for="@Model.FemurHead" placeholder="Femur Head" value="@Model.FemurHead" />
            </div>
            <div class="form-group col">
                <label for="FemurLength" asp-for="@Model.FemurLength">Femur Length</label>
                <input id="FemurLength" class="form-control" asp-for="@Model.FemurLength" placeholder="Femur Length" value="@Model.FemurLength" />
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="IliacCrest" asp-for="@Model.IliacCrest">Iliac Crest</label>
                <input id="IliacCrest" class="form-control" asp-for="@Model.IliacCrest" placeholder="Iliac Crest" value="@Model.IliacCrest" />
            </div>
            <div class="form-group col">
                <label for="PreaurSulcus" asp-for="@Model.PreaurSulcus">Preaur Sulcus</label>
                <input id="PreaurSulcus" class="form-control" asp-for="@Model.PreaurSulcus" placeholder="Preaur Sulcus" value="@Model.PreaurSulcus" />
            </div>
            <div class="form-group col">
                <label for="PubicBone" asp-for="@Model.PubicBone">Pubic Bone</label>
                <input id="PubicBone" class="form-control" asp-for="@Model.PubicBone" placeholder="Pubic Bone" value="@Model.PubicBone" />
            </div>
            <div class="form-group col">
                <label for="PubicSymphysis" asp-for="@Model.PubicSymphysis">Pubic Symphysis</label>
                <input id="PubicSymphysis" class="form-control" asp-for="@Model.PubicSymphysis" placeholder="Pubic Symphysis" value="@Model.PubicSymphysis" />
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="SciaticNotch" asp-for="@Model.SciaticNotch">Sciatic Notch</label>
                <input id="SciaticNotch" class="form-control" asp-for="@Model.SciaticNotch" placeholder="Sciatic Notch" value="@Model.SciaticNotch" />
            </div>
            <div class="form-group col">
                <label for="SubpubicAngle" asp-for="@Model.SubpubicAngle">Subpubic Angle</label>
                <input id="SubpubicAngle" class="form-control" asp-for="@Model.SubpubicAngle" placeholder="SubpubicAngle" value="@Model.SubpubicAngle" />
            </div>
            <div class="form-group col">
                <label for="TibiaLength" asp-for="@Model.TibiaLength">Tibia Length</label>
                <input id="TibiaLength" class="form-control" asp-for="@Model.TibiaLength" placeholder="Tibia Length" value="@Model.TibiaLength" />
            </div>
            <div class="form-group col">
                <label for="VentralArc" asp-for="@Model.VentralArc">Ventral Arc</label>
                <input id="VentralArc" class="form-control" asp-for="@Model.VentralArc" placeholder="Ventral Arc" value="@Model.VentralArc" />
            </div>
        </div>


        @*Samples*@
        <h4 class="display-4 my-2">Samples</h4>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="ArtifactFound" asp-for="@Model.ArtifactFound">Artifact Found</label>
                <select id="ArtifactFound" class="custom-select" asp-for="@Model.ArtifactFound">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="BurialIcon" asp-for="@Model.BurialIcon">Burial Icon</label>
                <input id="BurialIcon" class="form-control" asp-for="@Model.BurialIcon" placeholder="Burial Icon" value="@Model.BurialIcon" />
            </div>
            <div class="form-group col">
                <label for="BurialIcon2" asp-for="@Model.BurialIcon2">Burial Icon 2</label>
                <input id="BurialIcon2" class="form-control" asp-for="@Model.BurialIcon2" placeholder="Burial Icon 2" value="@Model.BurialIcon2" />
            </div>
            <div class="form-group col">
                <label for="Sample" asp-for="@Model.Sample">Sample</label>
                <input id="Sample" class="form-control" asp-for="@Model.Sample" placeholder="Sample" value="@Model.Sample" />
            </div>
            <div class="form-group col">
                <label for="SampleNumber" asp-for="@Model.SampleNumber">Sample Number</label>
                <input id="SampleNumber" class="form-control" asp-for="@Model.SampleNumber" placeholder="Sample Number" value="@Model.SampleNumber" />
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="BoneTaken" asp-for="@Model.BoneTaken">Bone Taken</label>
                <select id="BoneTaken" class="custom-select" asp-for="@Model.BoneTaken">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="HairTaken" asp-for="@Model.HairTaken">Hair Taken</label>
                <select id="HairTaken" class="custom-select" asp-for="@Model.HairTaken">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="SoftTissueTaken" asp-for="@Model.SoftTissueTaken">Soft Tissue Taken</label>
                <select id="SoftTissueTaken" class="custom-select" asp-for="@Model.SoftTissueTaken">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="TextileTaken" asp-for="@Model.TextileTaken">Textile Taken</label>
                <select id="TextileTaken" class="custom-select" asp-for="@Model.TextileTaken">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="ToothTaken" asp-for="@Model.ToothTaken">Tooth Taken</label>
                <select id="ToothTaken" class="custom-select" asp-for="@Model.ToothTaken">
                    <option value="">Select</option>
                    <option value="Y">Y</option>
                    <option value="U">U</option>
                </select>
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="DescriptionOfTaken" asp-for="@Model.DescriptionOfTaken">Description Of Taken</label>
                <input id="DescriptionOfTaken" class="form-control" asp-for="@Model.DescriptionOfTaken" placeholder="Description Of Samples Taken" value="@Model.DescriptionOfTaken" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <button class="btn btn-secondary" type="submit">Update Measurements</button>
            </div>
        </div>
    </form>
</div>