@model CarbonDated

<h1 class="display-4">Edit Carbon Sample</h1>

<div class="text-center">

    <form asp-controller="Home" asp-action="UpdateCarbon" method="post" class="card-background p-3">
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="RackNumber" asp-for="@Model.RackNumber">Rack Number</label>
                <input id="RackNumber" class="form-control" asp-for="@Model.RackNumber" placeholder="Rack Number" value="@Model.RackNumber" />
            </div>
            <div class="form-group col">
                <label for="Size" asp-for="@Model.Size">Size</label>
                <input id="Size" class="form-control" asp-for="@Model.Size" placeholder="Size" value="@Model.Size" />
            </div>
            <div class="form-group col">
                <label for="Foci" asp-for="@Model.Foci">Foci</label>
                <input id="Foci" class="form-control" asp-for="@Model.Foci" placeholder="Foci" value="@Model.Foci" />
            </div>
            <div class="form-group col">
                <label for="C14sample" asp-for="@Model.C14sample">C-14 Sample</label>
                <input type="number" step="0" id="C14sample" class="form-control" asp-for="@Model.C14sample" placeholder="C-14 Sample" value="@Model.C14sample" />
            </div>
        </div>

        <div class="form-row text-left">
            <div class="form-group col">
                <label for="Location" asp-for="@Model.Location">Location</label>
                <input id="Location" class="form-control" asp-for="@Model.Location" placeholder="Location" value="@Model.Location" />
            </div>
            <div class="form-group col">
                <label for="Questions" asp-for="@Model.Questions">Questions</label>
                <input id="Questions" class="form-control" asp-for="@Model.Questions" placeholder="Questions" value="@Model.Questions" />
            </div>
            <div class="form-group col">
                <label for="ConventionalAgeBp" asp-for="@Model.ConventionalAgeBp">Conventional ge Bp</label>
                <input id="ConventionalAgeBp" class="form-control" asp-for="@Model.ConventionalAgeBp" placeholder="Conventional Age Bp" value="@Model.ConventionalAgeBp" />
            </div>
            <div class="form-group col">
                <label for="CalendarDate" asp-for="@Model.CalendarDate">Calendar Date</label>
                <input id="CalendarDate" class="form-control" asp-for="@Model.CalendarDate" placeholder="Calendar Date" value="@Model.CalendarDate" />
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="Calibrated95CalendarDateMax" asp-for="@Model.Calibrated95CalendarDateMax">Calibrated 95 Calendar Date Max</label>
                <input id="Calibrated95CalendarDateMax" class="form-control" asp-for="@Model.Calibrated95CalendarDateMax" placeholder="Calibrated 95 Calendar Date Max" value="@Model.Calibrated95CalendarDateMax" />
            </div>
            <div class="form-group col">
                <label for="Calibrated95CalendarDateMin" asp-for="@Model.Calibrated95CalendarDateMin">Calibrated 95 Calendar Date Min</label>
                <input id="Calibrated95CalendarDateMin" class="form-control" asp-for="@Model.Calibrated95CalendarDateMin" placeholder="Calibrated 95 Calendar Date Min" value="@Model.Calibrated95CalendarDateMin" />
            </div>
            <div class="form-group col">
                <label for="Calibrated95CalendarDateSpan" asp-for="@Model.Calibrated95CalendarDateSpan">Calibrated 95 Calendar Date Span</label>
                <input id="Calibrated95CalendarDateSpan" class="form-control" asp-for="@Model.Calibrated95CalendarDateSpan" placeholder="Calibrated 95 Calendar Date Span" value="@Model.Calibrated95CalendarDateSpan" />
            </div>
            <div class="form-group col">
                <label for="Calibrated95CalendarDateAvg" asp-for="@Model.Calibrated95CalendarDateAvg">Calibrated 95 Calendar Date Avg</label>
                <input id="Calibrated95CalendarDateAvg" class="form-control" asp-for="@Model.Calibrated95CalendarDateAvg" placeholder="Calibrated 95 Calendar Date Avg" value="@Model.Calibrated95CalendarDateAvg" />
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="Category" asp-for="@Model.Category">Category</label>
                <input id="Category" class="form-control" asp-for="@Model.Category" placeholder="Category" value="@Model.Category" />
            </div>
        </div>
        <input hidden asp-for="@Model.LocationId" />
        <input hidden asp-for="@Model.MummyId" />
        <input hidden asp-for="@Model.CarbonDatedId" />
        <div class="form-row">
            <div class="col">
                <button class="btn btn-secondary" type="submit">Update Mummy</button>
            </div>
        </div>
    </form>
</div>