@model Location

<h1 class="display-4">Edit Location</h1>


<div class="text-center">

    <form asp-controller="Home" asp-action="UpdateLocation" method="post" class="card-background p-3">
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="BurialLocationNs" asp-for="@Model.BurialLocationNs">Location N/S</label>
                <input id="BurialLocationNs" class="form-control" asp-for="@Model.BurialLocationNs" placeholder="Enter N/S Location Description"/>
            </div>
            <div class="form-group col">
                <label for="BurialLocationEw" asp-for="@Model.BurialLocationEw">Location E/W</label>
                <input id="BurialLocationEw" class="form-control" asp-for="@Model.BurialLocationEw" placeholder="Enter E/W Location Description"/>
            </div>
            <div class="form-group col">
                <label for="LowPairNs" asp-for="@Model.LowPairNs">Low Pair N/S</label>
                <input type="number" id="LowPairNs" class="form-control" asp-for="@Model.LowPairNs" placeholder="i.e 10"/>
            </div>
            <div class="form-group col">
                <label for="HighPairNs" asp-for="@Model.HighPairNs">High Pair N/S</label>
                <input type="number" id="HighPairNs" class="form-control" asp-for="@Model.HighPairNs" placeholder="i.e 10"/>  
            </div>
        </div>

        <div class="form-row text-left">
            <div class="form-group col">
                <label for="LowPairEw" asp-for="@Model.LowPairEw">Low Pair E/W</label>
                <input type="number" id="LowPairEw" class="custom-select" asp-for="@Model.LowPairEw" placeholder="i.e 10"/>
                  
            </div>
            <div class="form-group col">
                <label for="HighPairEw" asp-for="@Model.HighPairEw">High Pair E/W</label>
                <input type="number" id="HighPairEw" class="custom-select" asp-for="@Model.HighPairEw" placeholder="i.e 10"/>
                    
            </div>
            <div class="form-group col">
                <label for="Subplot" asp-for="@Model.Subplot">Subplot</label>
                <select id="Subplot" class="custom-select" asp-for="@Model.Subplot" placeholder="Select Subplot">
                    <option>Select</option>
                    <option value="NE">NE</option>
                    <option value="NW">NW</option>
                    <option value="SW">SW</option>
                    <option value="SE">SE</option>

                </select>

            </div>
            <div class="form-group col">
                <label for="BurialDepth" asp-for="@Model.BurialDepth">Burial Depth</label>
                <input type="number" id="BurialDepth" class="custom-select" asp-for="@Model.BurialDepth" placeholder="i.e 10"/>
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="SouthToHead" asp-for="@Model.SouthToHead">South to Head</label>
                <input type="number" id="SouthToHead" class="form-control" asp-for="@Model.SouthToHead" placeholder="i.e 10"/>
            </div>
            <div class="form-group col">
                <label for="SouthToFeet" asp-for="@Model.SouthToFeet">South to Feet</label>
                <input type="number" id="SouthToFeet" class="form-control" asp-for="@Model.SouthToFeet" placeholder="i.e 10"/>
            </div>
            <div class="form-group col">
                <label for="EastToHead" asp-for="@Model.EastToHead">East to Head</label>
                <input type="number" id="EastToHead" class="form-control" asp-for="@Model.EastToHead" placeholder="i.e 10"/>
            </div>
            <div class="form-group col">
                <label for="EastToFeet" asp-for="@Model.EastToFeet">East to Feet</label>
                <input type="number" id="EastToFeet" class="form-control" asp-for="@Model.EastToFeet" placeholder="i.e 10"/>
            </div>
        </div>
        <div class="form-row text-left">
            <div class="form-group col">
                <label for="WestToHead" asp-for="@Model.WestToHead">West to Head</label>
                <input type="number" id="HairColor" class="custom-select" asp-for="@Model.WestToHead" placeholder="i.e 10" />

            </div>
            <div class="form-group col">
                <label for="WestToFeet" asp-for="@Model.WestToFeet">West to Feet</label>
                <input id="WestToFeet" class="custom-select" asp-for="@Model.WestToFeet" placeholder="i.e 10" />

            </div>
            <div class="form-group col">
                <label for="BurialSituation" asp-for="@Model.BurialSituation">Burial Situation</label>
                <input id="BurialSituation" class="custom-select" asp-for="@Model.BurialSituation" placeholder="Enter Burial Situation Info" />

            </div>
            <div class="form-group col">
                <label for="Tomb" asp-for="@Model.Tomb">Tomb</label>
                <input id="Tomb" class="custom-select" asp-for="@Model.Tomb" placeholder="Enter Tomb Info" />

            </div>
            <div class="form-group col">
                <label for="Area" asp-for="@Model.Area">Area</label>
                <input id="Area" class="custom-select" asp-for="@Model.Area" placeholder="Enter Area Info" />

            </div>
        </div>
        <input hidden asp-for="LocationId" />
        
        <div class="form-row">
            <div class="col">
                <button class="btn btn-secondary" type="submit">Edit Location</button>
            </div>
        </div>
    </form>
</div>