@model MummyProfileViewModel

@inject IAuthorizationService AuthorizationService
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgeryProvider

<h1 class="display-4">
    Mummy Profile: @Model.Location.BurialLocationNs @Model.Location.LowPairNs/@Model.Location.HighPairNs @Model.Location.BurialLocationEw @Model.Location.LowPairEw/@Model.Location.HighPairEw
    @Model.Location.Subplot #@Model.Location.BurialNumber
</h1>

<button type="button" class="btn"
        onclick="replaceContents(this.id, @Model.Mummy.MummyId, 'mummy')" id="MummyAttributes">
    Attributes
</button>
<button class="btn" onclick="replaceContents(this.id, @Model.Location.LocationId, 'location')" id="MummyLocation">Location</button>
<button class="btn" onclick="replaceContents(this.id, @Model.Measurement.MeasurementId, 'measurement')" id="MummyMeasurements">Measurements</button>
@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Burials.Create)).Result.Succeeded)
{
    <button class="btn" onclick="replaceContents(this.id, @Model.Mummy.MummyId, 'notes')" id="MummyNotes">Field Notes</button>
    <button class="btn" onclick="replaceContents(this.id, @Model.Mummy.MummyId, 'sample')" id="MummySamples">Samples</button>
    <button class="btn" onclick="replaceContents(this.id, @Model.Mummy.MummyId, 'carbon')" id="MummyCarbon">Carbon Dating</button>
}
<button class="btn" onclick="replaceContents(this.id, @Model.Mummy.MummyId, 'images')" id="MummyImages">Images</button>
<button class="btn" onclick="replaceContents(this.id, @Model.Mummy.MummyId, 'files')" id="MummyFiles">Files</button>
@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Burials.Create)).Result.Succeeded)
{
    <button class="btn" onclick="replaceContents(this.id, @Model.Mummy.MummyId, 'upload')" id="MummyUpload">Upload</button>
    <button class="btn" onclick="replaceContents(this.id, @Model.Mummy.MummyId, 'manage')" id="MummyManage">Manage</button>
}
<div id="partialView">
</div>

<script>
    //on load select the attributes tab
    function replaceContents(partialViewToInsert, id, type ) {
        $.ajax({
            url: '@Url.Action("PartialView", "Home")',
            data: {
                id: partialViewToInsert,
                selector: id,
                type: type,
                '__RequestVerificationToken': '@antiforgeryProvider.GetAndStoreTokens(this.Context).RequestToken'
            },
            type: "POST",
            success: function(data) {
                $('#partialView').html(data);
            }
        });

        activateButton(partialViewToInsert);
    }

    function activateButton(id) {
        $('#MummyAttributes').removeClass('btn-link').css("color", "black")
        $('#MummyLocation').removeClass('btn-link').css("color", "black")
        $('#MummyMeasurements').removeClass('btn-link').css("color", "black")
        $('#MummyNotes').removeClass('btn-link').css("color", "black")
        $('#MummySamples').removeClass('btn-link').css("color", "black")
        $('#MummyCarbon').removeClass('btn-link').css("color", "black")
        $('#MummyImages').removeClass('btn-link').css("color", "black")
        $('#MummyFiles').removeClass('btn-link').css("color", "black")
        $('#MummyManage').removeClass('btn-link').css("color", "black")
        $('#MummyUpload').removeClass('btn-link').css("color", "black")
        $('#' + id).addClass('btn-link').css("color", "white");
    }
</script>
