@model MummyProfileViewModel

@inject IAuthorizationService AuthorizationService

<h1 class="display-4">
    Mummy Profile: N @Model.Location.LowPairNs/@Model.Location.HighPairNs E @Model.Location.LowPairEw/@Model.Location.HighPairEw
    @Model.Location.Subplot #@Model.Location.BurialNumber
</h1>

<button type="button" class="btn"
        onclick="replaceContents(this.id, @Model.Mummy.MummyId, 'mummy')" id="MummyAttributes">
    Attributes
</button>
<button class="btn" onclick="replaceContents(this.id, @Model.Location.LocationId, 'location')" id="MummyLocation">Location</button>
<button class="btn" onclick="replaceContents(this.id, @Model.Measurement.MeasurementId, 'measurement')" id="MummyMeasurements">Measurements</button>
@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Burials.Create)).Result.Succeeded)
{
    <button class="btn" onclick="replaceContents(this.id, @Model.Notes.NotesId, 'notes')" id="MummyNotes">Field Notes</button>
    <button class="btn" onclick="replaceContents(this.id, @Model.Measurement.MeasurementId, 'measurement')" id="MummyMeasurements">Samples</button>
    <button class="btn" onclick="replaceContents(this.id, @Model.Measurement.MeasurementId, 'measurement')" id="MummyMeasurements">Carbon Dating</button>
}
<br />
<br />

<div id="partialView">
</div>

<script>
    //on load select the attributes tab

    function replaceContents(partialViewToInsert, id, type ) {
        $.ajax({
            url: '@Url.Action("PartialView", "Home")',
            data: {
                id: partialViewToInsert,
                selector: id,
                type: type
            },
            type: "POST",
            success: function(data) {
                $('#partialView').html(data);
            }
        });

        activateButton(partialViewToInsert);
    }

    function activateButton(id) {
        $('#MummyAttributes').removeClass('btn-link').css("color", "black")
        $('#MummyLocation').removeClass('btn-link').css("color", "black")
        $('#MummyMeasurements').removeClass('btn-link').css("color", "black")
        $('#MummyNotes').removeClass('btn-link').css("color", "black")
        $('#' + id).addClass('btn-link').css("color", "grey");

    }
</script>
