@model ViewMummyViewModel

@inject IAuthorizationService AuthorizationService
<h1 class="display-4">View Burials</h1>



<div class="card-background p-3">
    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#FilterCollapse" aria-expanded="false" aria-controls="FilterCollapse">View Filter Options</button>
    <div class="card-body collapse multi-collapse" id="FilterCollapse">
        <form asp-action="ViewMummies" method="get">
            <label>Select Number of Burials on Page: </label>
            <select id="numberItems" name="pageItems" class="form-select form-control col-1 numberItems" aria-label="Number of Mummies displayed"
                    onchange="javascript:this.form.submit()">
                @*<option selected>Num</option>*@
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="35">35</option>
                <option value="50">50</option>
            </select>
            <input hidden name="pageNum" value="@Model.PageNumberInfo.CurrentPage" />
            <input id="pageNumItems" type="submit" hidden />
        </form>
        <form asp-action="ViewMummies" method="post">
            <input hidden asp-for="@Model.PageNumberInfo.CurrentPage" />
            <input hidden asp-for="@Model.PageNumberInfo.NumItemsPerPage" />
            <input hidden asp-for="@Model.PageNumberInfo.numItems" />
            <input hidden asp-for="@Model.PageNumberInfo.TotalNumItems" />
            <div class="form-row text-left">
                <div class="col">
                    <label for="searchFor">Search for</label>
                    @Html.TextBox("searchFor", null, new { @type = "search", @class = "form-control", @placeholder = "Search for..." })
                </div>
                <div class="col"></div>
            </div>
            <div class="form-row text-left">
                <!-- Date range -->
                <div class="form-group col">
                    <label for="DateFrom">Date range From:</label>
                    <div class="input-group">
                        @Html.TextBox("DateFrom", (string)ViewBag.DateFrom, new { @type = "date", @class = "form-control" }) @*, @onchange = "onchangeFrom(this);"*@
                        @Html.Hidden("DateFrom", (string)ViewBag.DateFrom)
                    </div>
                    <!-- /.input group -->
                </div>
                <div class="form-group col">
                    <label for="DateFrom">Date range To:</label>
                    <div class="input-group">
                        @Html.TextBox("DateTo", (string)ViewBag.DateTo, new { @type = "date", @class = "form-control" })
                        @Html.Hidden("DateTo", (string)ViewBag.DateTo)
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
            <div class="form-row text-left">
                <div class="form-group col">
                    <label for="HeadDirection" asp-for="@Model.mummy.HeadDirection">Head Direction</label>
                    <select id="HeadDirection" class="form-control" asp-for="@Model.mummy.HeadDirection">
                        <option value="">Select</option>
                        <option value="E">E</option>
                        <option value="W">W</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="Gender" asp-for="@Model.mummy.Gender">Gender</label>
                    <select id="Gender" class="custom-select" asp-for="@Model.mummy.Gender">
                        <option value="">Select</option>
                        <option value="F">F</option>
                        <option value="M">M</option>
                        <option value="C">C</option>
                        <option value="U">U</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="BurialGenderMethod" asp-for="@Model.mummy.BurialGenderMethod">Burial Gender Method</label>
                    <select id="BurialGenderMethod" class="custom-select" asp-for="@Model.mummy.BurialGenderMethod">
                        <option value="">Select</option>
                        <option value="A">A</option>
                        <option value="P">P</option>
                        <option value="S">S</option>
                        <option value="U">U</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="AdultChild" asp-for="@Model.mummy.AdultChild">Adult/Child</label>
                    <select id="AdultChild" class="custom-select" asp-for="@Model.mummy.AdultChild">
                        <option value="">Select</option>
                        <option value="A">A</option>
                        <option value="C">C</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="AgeRange" asp-for="@Model.mummy.AgeRange">Age Range</label>
                    <select id="AgeRange" class="custom-select" asp-for="@Model.mummy.AgeRange">
                        <option value="">Select</option>
                        <option value="A">A</option>
                        <option value="C">C</option>
                        <option value="I">I</option>
                        <option value="N">N</option>
                        <option value="U">U</option>
                    </select>
                </div>
            </div>
            <div class="form-row text-left">
                <div class="form-group col">
                    <label for="BuriaAgeAtDeath" asp-for="@Model.mummy.BurialAgeAtDeath">Burial Age at Death</label>
                    <input id="BurialAgeAtDeath" class="form-control" asp-for="@Model.mummy.BurialAgeAtDeath" placeholder="Age at Death" />
                </div>
                <div class="form-group col">
                    <label for="BurialAgeMethod" asp-for="@Model.mummy.BurialAgeMethod">Burial Age Method</label>
                    <select id="BurialAgeMethod" class="custom-select" asp-for="@Model.mummy.BurialAgeMethod">
                        <option value="">Select</option>
                        <option value="P">P</option>
                        <option value="S">S</option>
                        <option value="U">U</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="Length" asp-for="@Model.mummy.LengthOfRemains">Length</label>
                    <input id="Length" class="form-control" asp-for="@Model.mummy.LengthOfRemains" placeholder="Enter Length in Meters" />
                </div>
                <div class="form-group col">
                    <label for="BurialPreservation" asp-for="@Model.mummy.BurialPreservation">Burial Preservations</label>
                    <input id="BurialPreservation" class="form-control" asp-for="@Model.mummy.BurialPreservation" placeholder="Burial Preservation Notes" />
                </div>
            </div>
            <div class="form-row text-left">
                <div class="form-group col">
                    <label for="HairColor" asp-for="@Model.mummy.HairColor">Hair Color</label>
                    <select id="HairColor" class="custom-select" asp-for="@Model.mummy.HairColor">
                        <option value="">Select</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="D">D</option>
                        <option value="K">K</option>
                        <option value="R">R</option>
                        <option value="U">U</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="FaceBundle" asp-for="@Model.mummy.FaceBundle">Burial Age Method</label>
                    <select id="FaceBundle" class="custom-select" asp-for="@Model.mummy.FaceBundle">
                        <option value="">Select</option>
                        <option value="Y">Y</option>
                        <option value="U">U</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="BurialWrapping" asp-for="@Model.mummy.BurialWrapping">Burial Wrapping</label>
                    <select id="BurialWrapping" class="custom-select" asp-for="@Model.mummy.BurialWrapping">
                        <option value="">Select</option>
                        <option value="B">B</option>
                        <option value="H">H</option>
                        <option value="S">S</option>
                        <option value="W">W</option>
                        <option value="U">U</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="BurialSampleTaken" asp-for="@Model.mummy.BurialSampleTaken">Sample Taken</label>
                    <select id="BurialSampleTaken" class="custom-select" asp-for="@Model.mummy.BurialSampleTaken">
                        <option value="">Select</option>
                        <option value="true">Y</option>
                        <option value="false">U</option>
                    </select>
                </div>
            </div>
            <div class="form-row text-left">
                <div class="form-group col">
                    <label for="PhotoTaken" asp-for="@Model.mummy.PhotoTaken">Photo Taken</label>
                    <select id="PhotoTaken" class="custom-select" asp-for="@Model.mummy.PhotoTaken">
                        <option value="">Select</option>
                        <option value="true">Y</option>
                        <option value="false">U</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="Artifact" asp-for="@Model.mummy.Artifacts">Artifact</label>
                    <select id="Artifact" class="custom-select" asp-for="@Model.mummy.Artifacts">
                        <option value="">Select</option>
                        <option value="Y">Y</option>
                        <option value="U">U</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col mt-2">
                    <button type="submit" value="submit" onclick="filters();" class="btn btn-info">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card-background p-3 my-2">
    <table class="table">
        <thead class="thead-secondary">
            <tr>
                <th>Burial ID</th>
                <th>Date Found</th>
                <th>Head Direction</th>
                <th>Gender</th>
                <th>Hair Color</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var x in Model.Mummies)
        {
            <tr>
                <td>
                    <form asp-action="MummyProfile" method="post">
                        <button class="btn btn-link my-0" type="submit" style="text-decoration: none">
                            @Model.mumLocs[x].BurialLocationNs @Model.mumLocs[x].LowPairNs/@Model.mumLocs[x].HighPairNs @Model.mumLocs[x].BurialLocationEw @Model.mumLocs[x].LowPairEw/@Model.mumLocs[x].HighPairEw
                            @Model.mumLocs[x].Subplot #@Model.mumLocs[x].BurialNumber
                        </button>
                        <input type="hidden" name="id" value="@x.MummyId" />
                    </form>
                </td>
                <td class="my-2">@x.MonthFound/@x.DayFound/@x.YearFound</td>
                <td>@x.HeadDirection</td>
                <td>@x.Gender</td>
                <td>@x.HairColor</td>
                <td>@x.AgeRange</td>
            </tr>
        }
    </table>
    <div id="paginationId" page-info="@Model.PageNumberInfo"
         page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         class="btn-group pull-right m-1">

    </div>

</div>

@section Scripts{
    
    <!--<script>
        $(document).ready(function () {-->
            @*$('#numberItems option[value=@Model.PageNumberInfo.numItems]').prop('selected', 'selected'));*@
            <!--$("#numberItems").val("@ViewBag.numItems"));
        });
    </script>-->
}
