@model ViewMummyViewModel

@inject IAuthorizationService AuthorizationService
<h4>View Burials</h4>
<div class="card-background p-3">
    <form asp-action="ViewMummies" method="get">
        <label>Select Number of Burials on Page: </label>
        <select id="numberItems" name="numItems" class="form-select form-control col-1" aria-label="Number of Mummies displayed"
                onchange="javascript:this.form.submit()">
            <option selected>Number of Burials</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="35">35</option>
            <option value="50">50</option>
        </select>
        <input hidden name="pageNum" value="@Model.PageNumberInfo.CurrentPage" />
        <input id="pageNumItems" type="submit" hidden />
    </form>
    <br />
    <table class="table">
        <thead class="thead-secondary">
            <tr>
                <th>Burial ID</th>
                <th>Date Found</th>
                <th>Head Direction</th>
                <th>Gender</th>
                <th>Hair Color</th>
                <th>Age</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var x in Model.Mummies)
        {
            <tr>
                <td>
                    <form asp-action="MummyProfile" method="post">
                        <button class="btn btn-link my-0" type="submit" style="text-decoration: none">
                            N @Model.mumLocs[x].LowPairNs/@Model.mumLocs[x].HighPairNs E @Model.mumLocs[x].LowPairEw/@Model.mumLocs[x].HighPairEw
                            @Model.mumLocs[x].Subplot #@Model.mumLocs[x].BurialNumber
                        </button>
                        <input type="hidden" name="id" value="@x.MummyId" />
                    </form>
                </td>

                <td class="my-2">@x.MonthFound/@x.DayFound/@x.YearFound</td>
                <td>@x.HeadDirection</td>
                <td>@x.Gender</td>
                <td>@x.HairColor</td>
                <td>@x.AgeRange</td>
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Burials.Create)).Result.Succeeded)
                {
                    <td>
                        <form>
                            <input type="hidden" value="@x.MummyId" />
                            <button class="btn btn-secondary" type="submit">Edit</button>
                        </form>
                    </td>
                }
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Burials.Delete)).Result.Succeeded)
                {
                    <td>
                        <form>
                            <input type="hidden" value="@x.MummyId" />
                            <button class="btn btn-secondary" type="submit">Delete</button>
                        </form>
                    </td>
                }


            </tr>
        }
    </table>
    <div id="paginationId" page-info="@Model.PageNumberInfo"
         page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         class="btn-group pull-right m-1">

    </div>

</div>

<script>
    @*$("numberItems").change(function () {
        $("pageNumItems").attr("href")
    });*@
</script>